/home/abka/Documents/AlphaMind/.env.example
```
```env
# cTrader FIX API Credentials
CTRADER_HOST=your_host
CTRADER_PORT=5212
CTRADER_ACCOUNT=your_sendercompid
CTRADER_PASSWORD=your_password
CTRADER_BROKER=your_broker_id
```

Let me run the git commands to commit the changes:
